
#galary .img-thumbnail {
    margin-bottom: 20px;
}
.container .text{
    position: relative;
    color: #d23131;
    font-size: 30px;
    font-weight: 600;
}
.container .text.first-text{
    color: #FFF;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-left: 2px solid #2a1ae0;
    animation: animate 4s steps(12) infinite;

}
#main.navsticky{ 
    position: fixed;
    top: 0;

        
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
    